<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.4b">
	<!--O id identifica seu plugin globalmente. Deve ser único, conter apenas caracteres alfanuméricos, underlines, pontos e deve conter ao menos 5 caracteres e um máximo de 40. Uma vez definido o ID, você não deve alterar ele ;) -->
	<id>br.com.shakerskj.ptu_trn</id>
	<!--version é a versão do seu plugin. Quando for lançar uma nova versão do seu módulo, altere aqui =) -->
	<version>2.0</version>
	<name>PTU - Trainer Sheet</name>
	<description>Plugin para criar fichas de Treinadores do Sistema Pokemon Tabletop United, utilizado originalmente na mesa District League.</description>
	<author>Lucas Miranda</author>
	<site>about:blank</site>
	<contact>https://facebook.com/shakerskj</contact>
</module>
